<h1><%= @user.name %></h1>

<h3>My Blogs</h3>
<% @blogs.each do |blog| %>
<ul>
  <li><%= blog.title %></li>
  <li><%= link_to "Delete Blog", blog_path(blog),
          method: :delete,
          data: { confirm: 'Are you sure?' } %> </li>
</ul>
<% end %>
<h5><%= link_to "Create a New Blog", new_blog_path %></h5>

<h3><%= link_to "See all blogs", blogs_path %></h3>
